<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="all">
        <div class="lable">
            <h1>Login</h1>
        </div>
        <div class="name">
            <label for="uname"><b>Username</b></label>
            <br>
            <input type="text" placeholder="Enter Username" name="uname" required>
        </div>
        <div class="password">
            <label for="psw"><b>Password</b></label>
            <br>
            <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
        <div class="button">
            <a href="/view/menu">
                <button type="submit">Login</button>
            </a>
            <a href="/view/register">
                <button type="submit">Register</button>
            </a>
        </div>
    </div>
</body>
</html>