<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizze Menü</title>
</head>
<body>
<!--<a href="http://out@localhost:8080/view/menu">
    <button type="submit">Logout</button>
</a>-->
<br>
<h1>Pizza Menü - Lecker!</h1>
<br>
<a href="/view/register">
    <button type="submit">Register</button>
</a>
<br>
<br>
<a href="/view/pizzaList">
    <button type="submit">Menu</button>
</a>
<br>
<br>
<a href="/view/bestellen">
    <button type="submit">Pizza bestellen</button>
</a>
<br>
<br>
<a href="/view/listBestellung">
    <button type="submit">Bestellung ansehen</button>
</a>
<br>
<br>
<a href="/view/bestellposten">
    <button type="submit">Bestellung aendern</button>
</a>
<br>
<br>
</body>
</html>